<!-- olvidar-contrasena.component.html -->
<div class="olvidar-pw-container">
  <!-- Sección de la imagen -->
  <div class="image-section">
      <img src="assets/imagenes/login_fondo.jpg" alt="Imagen de inicio de sesión">
  </div>
      <!-- Spinner de carga centrado -->
    <div class="spinner-overlay" *ngIf="cargando">
      <mat-spinner diameter="60"></mat-spinner>
    </div>

  <!-- Sección del formulario -->
  <div class="olvidar-box">
      <!-- Imagen del logo -->
      <div class="logo-container">
          <img src="assets/imagenes/logo-login.jpg" alt="Logo Emach Administración" class="logo">
      </div>
      <h1>¿Olvidaste tu contraseña?</h1>
      <p class="subtitle">Ingrese su correo Electronico para enviar código de validación</p>
      <form (ngSubmit)="recuperarContrasena()">
          <div class="input-group">
              <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder=" ">
              <label for="email">Correo electrónico:</label>
          </div>
          <div class="button-group">
              <button type="submit">Enviar correo de recuperación</button>
          </div>

      </form>
  </div>
</div>